@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* 사이드 네비바 */

.navbar {
  @apply flex h-12 items-center justify-center;
}

/* .menu-bars {
  @apply bg-none;
} */

.nav-menu {
  @apply flex w-72 h-full 
  justify-center fixed top-0 
  -right-full transition duration-300 ease-in-out;
  transition-property: right;
}

.nav-menu.active {
  @apply fixed right-0 transition duration-300 ease-in-out;
  transition-property: right;
}

.nav-menu-items {
  @apply w-full bg-white;
}

.nav-shadow {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

/* 메인 페이지 */

/* 시그니쳐 컬러 */
.text-moida {
  color: #34b6ea;
}

.bg-moida {
  background-color: #34b6ea;
}

.border-moida {
  border-color: #34b6ea;
}

.bg-moida-green-100 {
  background-color: #dbfab5;
}

.bg-moida-green-200 {
  background-color: #a0f435;
}

.bg-moida-green-300 {
  background-color: #9be400;
}

.text-moida-green-100 {
  color: #dbfab5;
}

.text-moida-green-200 {
  color: #a0f435;
}

.text-moida-green-300 {
  color: #9be400;
}

/* 커스텀 폰트 크기 */
.text-2xs {
  font-size: 0.5rem;
}

/* 57px을 위한 h */
.h-14-5 {
  height: 57px;
}
