@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* 사이드 네비바 */

.navbar {
  @apply flex h-12 items-center justify-center;
}

/* .menu-bars {
  @apply bg-none;
} */

.nav-menu {
  @apply flex w-72 h-full 
  justify-center fixed top-0 
  -right-full transition duration-300 ease-in-out;
  transition-property: right;
}

.nav-menu.active {
  @apply fixed right-0 transition duration-300 ease-in-out;
  transition-property: right;
}

.nav-menu-items {
  @apply w-full bg-white;
}

/* 메인 페이지 */
